.main-container{
    font-family: Arial, Helvetica, sans-serif;
}
.main-container sup{
    font-size: .5em;
}
.main-container .img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-container .img img{
    max-width: 100%;
    margin: 0 auto;
}
.main-container .title-color-bg{
    background-color: lightgray;
}
.main-container .text-line-style {
    text-decoration: underline;
}

.main-container .margin-top {
    margin-top: 0;
}
.main-container .margin-bottom {
    margin-bottom: 0;
}