main{
    font-family: Arial, Helvetica, sans-serif;
}
main sup{
    font-size: .5em;
}
main .img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main .img img{
    max-width: 100%;
    margin: 0 auto;
}
main .title-color-bg{
    background-color: lightgray;
}
main .text-line-style {
    text-decoration: underline;
}

main .margin-top {
    margin-top: 0;
}
main .margin-bottom {
    margin-bottom: 0;
}